<link href="~/css/footer.css" rel="stylesheet" />

<footer>
    <div class="col-md-4 text-center foot-text">
        Created by Harsh Moriya 2024
    </div>
    <div class="col-md-4 text-center">
        <ul class="list-inline social-buttons">
            <li>
                <a href="https://www.linkedin.com/in/harsh-moriya/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
                <a href="https://github.com/Harsh-Moriya" target="_blank"><i class="fa fa-github"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 text-center foot-text">
        <div>Chat<span>NET</span></div>
    </div>
</footer>
