@using System.Security.Claims;

@{
    ViewData["Title"] = "Home Page";
}

@{
    var user = User as ClaimsPrincipal;
    var userID = user?.FindFirst(ClaimTypes.Name)?.Value;
}

<link href="~/css/userspanel.css" rel="stylesheet" />
<link href="~/css/conversationpanel.css" rel="stylesheet" />

<div class="home">
    <div class="users-panel">
        <div class="search-box">
            <input class="form-input" placeholder="Search User" />
        </div>
        <div class="users">

        </div>
    </div>
    <div class="conversation-panel">
        <div class="conversation-empty">
            <h3>Double Click On Any Conversation To Open It.</h3>
        </div>
    </div>
</div>

<script src="~/js/forusersection.js"></script>
<script src="~/js/forconversationsection.js"></script>
<script src="~/js/formessages.js"></script>