html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul  {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 10vh;
    font-size: 18px;
    font-weight: 500;
    display: flex;
}

nav li:last-child {
    font-size: 20px;
}

nav a {
    height: 30px;
    align-self: center;
    padding: 0 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:not(:first-child) {
    padding: 0 40px 0 0;
}

.nav li a {
    color: black;
}

nav a:hover {
    color: #4934eb;
}

nav svg {
    height: 100%;
    margin: 0 30px;

}

nav li:first-child {
    font-size: 26px;
    font-weight: 700;
    margin-right: auto;
}

nav li:first-child a {
    color: black;
}

nav li:last-child a:hover {
    color: red;
}

nav li span {
    color: #4934eb;
}

#nav-userid {
    align-self: center;
    height: 30px;
    border: 1px solid #4934eb;
    color: #4934eb;
    border-radius: 50px;
}


.sidebar {
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar li a {
    width: 100%;
    color: black;
    font-size: 30px;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

